[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	graph = log --oneline --graph
	cm = commit -m
	unstage = reset HEAD --
	aa = add .
	ss = status --short
[merge]
	tool = vimdiff
	conflictstyle = diff3
[color]
	ui = auto
[mergetool]
	keepbackup = false
	prompt = false
