[alias]
	br = branch
	bra = branch --all
	st = status
	ss = status --short
	graph = log --oneline --graph --all
	aa = add .
	ci = commit
	cm = commit -m
	mffo = merge --ff-only
	co = checkout	
	unstage = reset HEAD --
[merge]
	tool = vimdiff
	conflictstyle = diff3
[color]
	ui = auto
[mergetool]
	keepbackup = false
	prompt = false
[diff "hex"]
	textconv = hexdump -C
	binary = true
[core]
	attributesfile = ~/.gitattributes
	
